@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-press-up-purple: #6f597b;
  --color-press-up-negative-button: #99352e;
  --color-press-up-grey: #e0dee0;
  --color-press-up-positive-button: #c97f97;
  --color-press-up-black: #0a0a0a;
  --color-press-up-cream: #f3ead0;
  --color-press-up-navy: #1e032e;
}

body {
  font-family: "Inter", sans-serif;
}

#react-target {
  height: 100vh;
  display: flex;
  flex-direction: column;
}